
.tree-chart .value {
    text-anchor: start;
}

.tree-chart .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
    stroke-opacity: 0;
}

.tree-chart .root .decorator {
    fill: #020202;
    fill-opacity: .1;
    stroke-opacity: 1;
    stroke-width: 5;
    stroke: #020202;
}

.tree-chart .node text {
    font-size: 15px;
    pointer-events: none;
    fill: #202020;
    font-weight: bold;
}
.tree-chart .link {
    fill: none;
    stroke: #020202;
    stroke-opacity: .15;
}
